.base-title {
  margin: 0;
  padding: 0;

  font-family: $base-font;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .base-title {
    font-size: 60px;
  }
}
