.catalog-item {
  @include mobile-container;

  position: relative;

  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.catalog-item:first-child {
  border-top: 1px solid #ededed;
}

.catalog-item__title {
  margin: 0;
  width: 80px;
  margin-bottom: 14px;

  font-family: $base-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.catalog-item__wrapper {
  display: flex;
}

.catalog-item__button {
  width: 100%;

  font-size: 16px;
}

.catalog-item__content {
  padding-top: 21px;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    width: 324px;
    margin-bottom: 140px;
    padding: 143px 38px 38px;

    background-color: #f2f2f2;
    border: none;
  }

  .catalog-item__img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .catalog-item__wrapper {
    flex-direction: column;
  }

  .catalog-item__title {
    width: auto;
    margin: 0;
    margin-bottom: 19px;

    font-size: 20px;
    text-align: center;
  }

  .catalog-item__title span {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
  }
}
