.catalog-more {
  min-height: 210px;
  padding-top: 80px;

  border-bottom: 1px solid rgba(#000000, 0.1);
}
.catalog-more__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-family: $base-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.catalog-more__text {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.catalog-more__link {
  font-size: 16px;
  color: #444444;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .catalog-more {
    display: flex;
    flex-direction: column;
    width: 324px;
    padding: 165px 38px 40px;
    margin-bottom: 140px;

    border: 1px solid #cdcdcd;
    background-color: transparent;
  }

  .catalog-more__title {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog-more__link {
    margin-top: auto;
  }

  .catalog-more__text {
    width: 170px;
    margin: 0 auto;

    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more {
    width: 245px;
  }
}
