.example {
  padding-top: 18px;
  padding-bottom: 39px;

  background-color: #f2f2f2;
}

.example__title {
  margin-bottom: 23px;
}

.example__cost {
  width: 100%;
  margin: 0;
  padding-top: 35px;

  text-align: center;
  text-transform: uppercase;
  font-family: $base-font;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
}

.example__text {
  margin: 0;
  padding-right: 10px;
}

.example__numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.example__slider {
  @include mobile-container;
}

.example__slider-wrapper {
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;

    background-color: #ffffff;
  }

  .example__slider {
    padding-bottom: 67px;
  }

  .example__slider-wrapper {
    position: relative;
    padding-top: 0;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 50%;

      background-color: #f2f2f2;
    }
  }

  .example__title {
    margin-bottom: 64px;
  }

  .example__numbers {
    justify-content: start;
  }

  .example__text {
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__cost {
    width: 175px;
    padding-top: 12px;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__cost span {
    display: block;
    padding-top: 9px;
  }

  .example__slider-wrapper {
    margin-top: 255px;

    background-color: #eaeaea;
  }

  .example__slider {
    @include tablet-container;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 0;
    padding-bottom: 0;

    background-color: #f2f2f2;
  }

  .example__wrapper {
    @include desktop-container;

    display: flex;
    justify-content: space-between;

  }

  .example .container {
    margin-right: 0;
    margin-left: 0;
    margin-top: -136px;
  }

  .example .container {
    width: 445px;
    padding: 0;
  }

  .example__text {
    margin-bottom: 69px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__slider-wrapper {
    margin-top: 0;
    padding-bottom: 157px;

    background-color: transparent;

    &::before {
      background-color: transparent;
    }
  }

  .example__cost {
    margin: 0;
    padding-top: 50px;
    width: auto;
    vertical-align: top;

    text-align: left;
  }

  .example__cost span {
    display: inline-block;

    margin-left: 59px;
  }

  .example__slider {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
