.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;
}

.footer__socials {
  border-top: 1px solid rgba(#000000, 0.1);
}

.footer__developer {
  border-top: 1px solid rgba(#000000, 0.1);
}
