.header {
  position: relative;
}

.header__top {
  @include mobile-container;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 65px;
  padding-top: 11px;
}

.header__logo {
  align-self: center;
}

.header__logo img {
  display: block;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .header__top {
    @include tablet-container;

    padding-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .header--index {
    height: 696px;
    margin-bottom: 80px;

    &::before {
      content: "";

      position: absolute;
      left: 50%;
      top: 0px;
      right: 0;
      z-index: -1;

      height: 696px;
      background-color: #65a93c;
      background-image: url(../img/index-background-desktop@1x.jpg);
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .header__top {
    @include desktop-container;

    min-height: 142px;
    padding-top: 75px;
  }


}
