.header-slogan {
  @include mobile-container;

  z-index: 10;

  position: relative;
  // width: 320px;
  // margin: 0 auto;

  min-height: 305px;
  margin-bottom: 23px;

  text-align: center;


  &::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;

    height: 305px;

    background-color: #63a73a;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-slogan__wrapper {
    position: relative;
    z-index: 10;
  }

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 44px;
    z-index: 10;
    transform: translateX(-50%);

    width: 280px;
    height: 270px;

    background-image: url("../img/index-can-mobile@1x.png");
  }
}

.header-slogan__title {
  margin: 0;
  padding: 30px 15px 0px;
  padding-bottom: 19px;

  font-family: $base-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.header-slogan__text {
  margin-bottom: 302px;

  font-family: $base-font;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .header-slogan {
    @include tablet-container;

    margin: 0 auto;
    padding-bottom: 529px;

    &::before {
      bottom: 0;
      left: 383px;

      width: 709px;
      height: 609px;

      background-image: url(../img/index-can-tablet@1x.jpg);
    }

    &::after {
      display: none;
    }
  }

  .header-slogan__wrapper {
    padding-left: 87px;
  }

  .header-slogan__title {
    width: 420px;
    padding: 0;
    margin-bottom: 41px;
    padding-top: 44px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .header-slogan__text {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .header-slogan__button {
    width: 245px;
    height: 52px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .header-slogan {
    @include desktop-container;

    padding-left: 83px;
    padding-top: 82px;
    padding-bottom: 0px;

    &::before {
      left: 58.8%;
      top: 2px;

      width: 552px;
      height: 499px;

      background-image: url(../img/index-can-desktop@1x.png);
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .header-slogan__title {
    padding-top: 0;
  }

  .header-slogan__wrapper {
    padding-left: 48px;
  }

  .header-slogan__text {
    margin-bottom: 53px;
  }

  .header-slogan__button {
    margin-left: -2px;
  }
}
