.main-nav {
  width: 100%;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }

  &--nojs {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  margin-top: 15px;

  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 25px;
      height: 2px;

      background-color: #222222;
      box-shadow: 0px 8px #222222, 0px 16px #222222;
    }
  }

  &--opened {
    width: 19px;
    height: 19px;

    &::before {
      content: "";
      position: absolute;
      left: 0;

      width: 19px;
      height: 2px;

      transform: rotate(-45deg);
      box-shadow: none;
      background-color: #000000;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;

      width: 19px;
      height: 2px;

      transform: rotate(45deg);
      box-shadow: none;
      background-color: #000000;
    }
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: -20px;
  margin-right: -20px;

  font-family: $base-font;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: block;
    width: auto;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    border: none;

    &:last-child {
      border: none;
    }

    &--active .main-nav__link {
      border-bottom: 2px solid $base-color;
    }
  }

  .main-nav__item:last-child .main-nav__link {
    margin-right: 0;
  }

  .main-nav__link {
    padding-bottom: 7px;
    padding-top: 0;
    margin-left: 18px;
    margin-right: 17px;

    font-family: $base-font;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    text-transform: uppercase;

    &:hover {
      border-bottom: 2px solid $base-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav--index .main-nav__link {
    color: #ffffff;

    border-color: #ffffff;
  }

  .main-nav__link {
    margin-left: 17px;

    font-size: 20px;
  }
}
