.selection__form fieldset {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 25px;

  border: none;
  border-bottom: 1px solid rgba(#000000, 0.1);
}

.selection__form legend {
  padding-top: 30px;

  font-family: $base-font;
  font-size: 24px;
  line-height: 24px;
}
